body
{
    background-color: #202020;
    font-family: sans-serif;
    
}
.design
{
    position: absolute;
    top:200pt;
    left:400pt;
    background-color: #2E0513;
    padding :30pt;
    border-style:solid;
    border-radius: 12pt;
    border-color: silver;
    border-top-width: 14pt;
    
   
}

input[type=number]
{
  
    border-style: hidden;
    border-radius: 2pt;
    font-family: sans-serif;
    font-size: 12pt;
    width: 30%;

}
select
{
   
    border-radius: 2pt;
    font-size: 13pt;
}
input[type=reset]
{
    border-style:groove;
    

    border-radius: 2pt;
    font-family: sans-serif;
    font-size: 12pt;
    width: 20%;
}
p.text
{
    position:absolute;
    top:188pt;
    left:409pt;
    z-index: 1;
    font-family: sans-serif;
    color:#202020;
    font-weight: 500;
}